@charset 'UTF-8';
/*bootstrap sans-serif */

/* 共通CSS */
body {
  font-family:"Yu Gothic","YuGothic",sans-serif;
  min-width: 300px;
}

header {
  background-color: #FFFFCC;
}

header, h2, .sub_category_menu {
  font-family: 'Oswald', sans-serif;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  border-radius: 10px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: white;
  background-color: black;
}

.dropdown-item:hover {
  color: white;
  background-color: black
}

footer {
  height:100px;
  background-color: #FFFFCC;
}



/* indexビュー */
.slick-prev {
  left: 20px;
  z-index: 1;
}

.slick-next {
  right: 20px;
  z-index: 1;
}

.slick-prev:before, .slick-next:before {
  font-size: 30px;
}

#top_lineup_container {
  background-image: url(../img/top_bg.png);
}

.lineup_product:hover {
  transition: 0.3s;
  opacity: 0.7;
}

.top_news_detail {
  color: black;
}

.top_news_detail:hover {
  transition: 0.3s;
  color: white;
  background-color: black;
}

#top_movie_container {
  background-image: url(../img/top_bg.png);
}

/* itemsビュー */
.item_pic:hover {
  transition: 0.3s;
  opacity: 0.7;
}

.sub_category_text {
  color: black;
}

.sub_category_text:hover {
  transition: 0.3s;
  color: white;
  background-color: black;
}

/* item_detailビュー */
