@charset 'UTF-8';
/*bootstrap sans-serif */

/* 共通CSS */
body {
  font-family:"Yu Gothic","YuGothic",sans-serif;
  min-width: 300px;
}

header {
  background-color: #FFFFCC;
}

header, h2, .sub_category_menu {
  font-family: 'Oswald', sans-serif;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  border-radius: 10px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: white;
  background-color: black;
}

.dropdown-item:hover {
  color: white;
  background-color: black
}

main {
  min-height: 100vh;
  /* min-height: calc(100vh - 100px); */
}

footer {
  height:100px;
  background-color: #FFFFCC;
}



/* indexビュー */
.slick-prev {
  left: 20px;
  z-index: 1;
}

.slick-next {
  right: 20px;
  z-index: 1;
}

.slick-prev:before, .slick-next:before {
  font-size: 30px;
}

#top_lineup_container {
  background-image: url(../img/top_bg.png);
}

.lineup_product:hover {
  transition: 0.3s;
  opacity: 0.7;
}

.top_news_detail, .news_detail {
  color: black;
}

.top_news_list:hover {
  transition: 0.3s;
  background-color: black;
}

.top_news_list:hover .top_news_detail{
  color: white;
}

.news_item:hover {
  transition: 0.3s;
  background-color: black;
}

.news_item:hover .news_detail {
  color: white;
}

#top_movie_container {
  background-image: url(../img/top_bg.png);
}

/*Newsビュー*/

.pagination {
  width: 50%;
  margin: 0 auto;
  justify-content: space-around;
}

.page a, .prev a, .next a {
  color: black;
  text-decoration: none;
}

.navi-active {
  background-color: black;
}

.navi-active a {
  color: white;
}

.first, .last {
  display: none;
}

/* itemsビュー */
.item_pic:hover {
  transition: 0.3s;
  opacity: 0.7;
}

.item_list li {
  opacity: 1;
  transition: all 0.4s ease 0s;
}

.item_list li.is_hidden {
  opacity: 0;
  height: 0;
  pointer-events: none;
}

.sub_category_text {
  color: black;
}

.sub_category_text:hover {
  transition: 0.3s;
  color: white;
  background-color: black;
}

.category_select {
  position:relative;
}

.category_option {
  position:absolute;
top:10px;
left:80px;
}